body{
	width: 1000px;
}

h1{
	font-size: 40px;
	font-family: sans-serif;
	letter-spacing: 1px;
	color: black;
	font-weight: bold;
	margin: 20px;
}

button {
	font-size: 20px;
	font-weight: bold;
	background-color: #2196F3;
	font-family: sans-serif;
	color: white;
	width: 300px;
	padding: 20px 0px;
	border-radius: 8px;
	border: none;
	margin: 10px 60px;
}

p{
	border: none;
}

button:hover {
	background-color: #7ABCF1;
    cursor: pointer;
}

button:active {
	background-color: #0665B1;
}


/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header{
	font-size: 30px;	
	font-family: Sans-Serif;
	color: black;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: left;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close{
	background-color: #d3d3d3;
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: right;
	font-size: 40px;
}

.close:hover{
	background-color: #ececec;
	cursor: pointer;
}
.close:focus {
	color: black;
	background-color: #a9a8a8;
}

.animal-infos{
	border-style: solid;
	border-width: 1px;
	border-color: #d3d3d3;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left:20px;
	border-radius: 6px;
	margin: 10px;
}

.fact-text{
	font-size: 18px;
	font-family: Sans-Serif;
	color: black;
	margin-top: 10px;
	margin-bottom: 0px;
}

.fact-user{
	font-size: 15px;
	font-family: Sans-Serif;
	color: #808080;
	margin-top: 0px;
	margin-bottom: 10px;
}